*{
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 2.4rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.navbar {
    height: 60px;
    background-color: #36474f;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-title {
     margin-left: 20px; 
}

.navbar-element__list {
    display: flex;
    /* margin-right: 20px; */

}

.navbar-element__item {
    line-height: 6rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
    padding: 0 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
}

.navbar-element__item span {
    padding: 0 6px;
}

.navbar-element__item:hover {
    background-color: red;
    color: #36474f;
}

.icon-big {
    font-size: 2.8rem;
}

/* Content */
.content {
    display: flex;
    height: 92vh;
}

.dashboard {
    width: 25%;
    border-right: 1px solid #36474f;
    background-color: blue;
}

.dashboard-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    background-color:blue;
    color: #fff;
    cursor: default;
}

.dashboard-admin {
    display: flex;
    align-items: center;
}

.dashboard-admin__avt {
    font-size: 5rem;
    padding: 0 10px;
}

.dashboard-admin__info {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.admin-name {
    font-size: 2rem;
    font-weight: 600;
}

.admin-nickname {
    font-size: 1.6rem;
}

.dashboard-header__setting {
    font-size: 2.5rem;
    padding-right: 20px;
}

.dashboard-text {
    height: 40px;
    text-transform: uppercase;
    font-size: 1.4rem;
    color: #ccc;
    background-color: #232e34;
    line-height: 40px;
    padding-left: 16px;
    cursor: default;
}
/* dashboard-list */
.dashboard-list {
    padding: 0;
    margin: 0;
}

.dashboard-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #283339;
    color: #fff;
    font-size: 1.6rem;
    cursor: pointer;
    border-bottom: 0.2px solid rgb(97, 89, 89);
}

.dashboard-item:hover {
    background-color: #26a59a;
}

.dashboard-item-wrap {
    display: flex;
    align-items: center;

}

.dashboard-item__icon {
    padding-left: 16px;
}

.dashboard-item__title {
    padding-left: 30px;
}

.dashboard-item__title--margin-left {
    margin-left: -4px;
}

.icon-more {
    padding-right: 16px;
}

/* Manage main */
.manage-main {
    width: 75%;
    background-color: #e1e2e8;
}

.manage-main__heading {
    display: flex;
    align-items: center;
    padding-top: 16px;
    color: #333;
}

.manage-main__heading-icon {
    font-size: 4rem;
    padding-left: 30px;
}

.manage-main__heading-title {
    font-size: 3rem;
    font-weight: 600;
    display: inline-block;
    padding-left: 8px;
}

.manage-main__current {
    width: 100%;
    border-top: 1px solid rgb(143, 139, 139);
    border-bottom: 1px solid rgb(143, 139, 139);
font-size: 2rem;
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    color:blue;
    background-color: #fff;
}

.manage-main__root-icon {
    margin-left: 30px;
    font-weight: 600;
}

.manage-main__root-text {
    font-weight: 600;
    margin: 0 10px;
}

.manage-main__root-way {
    font-weight: 600;

}

.manage-main__root-curr {
    color: skyblue;
    margin-left: 10px;
}

/* Manage-info */
.manage-info {
    width: 100%;
    height: 78%;
    background-color: #fff;
}

.manage-info__head {
    border: 1px solid rgb(237, 233, 233);
    margin-top: 20px;
}

.manage-info__heading {
    font-size: 2.6rem;
    color:#26a59a;
    font-weight: 400;
    padding-top: 16px;
    margin: 0 0 0 30px;
    height: 50px;
}

.manage-info__element {
    position: relative;
}

.sections {
    padding-left: 30px;
    border-top: 1px solid rgb(237, 233, 233);
    font-size: 1.6rem;
    height: 40px;
    line-height: 40px;
}

.section {
    display: inline-block;
    width: 16%;
}

.section-bold {
    font-weight: 600;
}

.section-name {
    color: skyblue;
}

.manage-info__wrap-component {
    position: absolute;
    top: 10px;
    right: 30px;
}

.cpn {
    padding: 6px 8px;
    border-radius: 2px;
    font-size: 1.4rem;
    margin: 0 4px;
    cursor: pointer;
    color: #fff;
}

.cpn-1 {
    background-color: #76cd4e;
}

.cpn-2 {
    background-color: #42c7c0;
}

.cpn-3 {
    background-color: #fc675b;
}
